#footer {
    position: absolute;
    bottom: 0;
    height: 7rem;
    width: 100%;
    background-color: #b4e197;
    border-top-left-radius: 100px;
   border-top-right-radius: 100px;
   display: flex;
}