#footer {
   flex-shrink: 0;
    height: 7rem;
    width: 100%;
    background-color: #b4e197;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: flex;
    

    #link {
        max-width: 5.5rem;
        margin: auto;
        text-align: center;
        padding: .2rem;

        img{
            max-width: 70%;
            margin: auto;
            padding: .2rem;
            }

        a:hover{
            color: #4E944F;
            }
}

}